@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    color: #000;
    background-color: #f1f1f1;
    line-height: 1.5;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

button {
    cursor: pointer;
    font-size: 15px;
    border: none;
    font-family: 'Raleway', sans-serif;
}

a { text-decoration: none; color: inherit; }
b { font-weight: bolder; }
img { vertical-align: middle; }


/* -------------------------Header */
header {
    padding: 32px 16px;
    text-align: center;
}
header h1 {
    font-size: 2.25rem;
}
header .tag {
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    display: inline-block;
}

/* -------------------------Wrapper */
.Wrapper {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

/* -------------------------Blog Section */
.grid_1 {
    float: left;
    width: 65%;
}
.grid_1 .grid_card {
    margin: 16px;
}
.grid_1 .grid_card .card_content {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 25%), 0 2px 16px 0 rgb(0 0 0 / 18%);
}
/* -------------------------card page2 grid */
.grid_1 .grid_card .c2 {
    margin: 40px 0;
}
/* -------------------------card page2 grid */

.grid_1 .grid_card .card_content img {
    width: 100%;
}
.grid_1 .grid_card .card_content .text_content {
    padding: 0 15px 15px 15px;
    overflow: hidden;
}
.grid_1 .grid_card .card_content .text_content .card_title {
    font-size: 1.5rem;
}
.grid_1 .grid_card .card_content .text_content .card_subtitle {
    font-size: 1.125rem;
    padding-bottom: 20px;
}
.grid_1 .grid_card .card_content .text_content .card_subtitle .tt_grey {
    opacity: 0.6;
}
.grid_1 .grid_card .card_content .text_content .more_box {
    width: 65%;
    padding-top: 20px;
    float: left;
}
.grid_1 .grid_card .card_content .text_content .more_box .card_btn {
    padding: 14px 24px;
    background-color: #fff;
    border: 1px solid #bbbbbb;
}
.grid_1 .grid_card .card_content .text_content .more_box .card_btn:hover {
    background-color: #bbbbbb;
}
.grid_1 .grid_card .card_content .text_content .comments_box {
    width: 35%;
    float: left;
}
.grid_1 .grid_card .card_content .text_content .comments_box .card_comments {
    float: right;
    padding: 12px 24px;
    margin-top: 20px;
    margin-right: 10px;
}
.grid_1 .grid_card .card_content .text_content .comments_box .card_comments .card_tag {
    padding: 0 8px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}
.grid_1 .grid_card .card_content .text_content .comments_box .card_comments .t1 {
    border-radius: 50%;
}

/* -------------------------Introduction menu Section */
.grid_2 {
    float: left;
    width: 35%;
}
.grid_2 .grid_info {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    margin: 16px;
}
.grid_2 .grid_info .info_text_box {
    padding: 0 18px;
    display: inline-block;
}
.grid_2 .grid_info .info_text_box h3 {
    font-size: 1.25rem;
}
.grid_2 .grid_info .info_text_box p {
    margin: 15px 0;
}

/* -------------------------Posts */
.grid_2 .Posts {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    margin: 32px 16px 16px 16px;
}
.grid_2 .Posts .post_title {
    padding: 8px 16px;
    font-size: 1.25rem;
    background-color: #f1f1f1;
}
.grid_2 .Posts .content_box {
    list-style: none;
}
.grid_2 .Posts .content_box li {
    border-bottom: 1px solid #ddd;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
}
.grid_2 .Posts .content_box li:hover {
    background-color: #bbbbbb;
}
.grid_2 .Posts .content_box li img {
    float: left;
    margin-right: 16px;
}
.grid_2 .Posts .content_box li .large {
    font-size: 1.125rem;
}

/* -------------------------Tags */
.grid_2 .Tags {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    margin: 32px 16px 16px 16px;
}
.grid_2 .Tags .tags_title {
    background-color: #f1f1f1;
    padding: 8px 16px;
    font-size: 1.25rem;
}
.grid_2 .Tags .tags_content {
    padding: 0 16px;
    overflow: hidden;
}
.grid_2 .Tags .tags_content .tags_wrap {
    margin: 15px 0;
    display: block;
}
.grid_2 .Tags .tags_content .tags_wrap .block_bl {
    background-color: #000;
    font-size: 0.9375rem;
    color: #fff;
}
.grid_2 .Tags .tags_content .tags_wrap span {
    background-color: #f1f1f1;
    font-size: 0.75rem;
    margin-bottom: 16px;
    padding: 0 8px;
    display: inline-block;
    text-align: center;
}

/* -------------------------Footer */
footer {
    width: 100%;
    background-color: #616161;
}
footer .footer_bar {
    padding: 32px 16px;
    margin-top: 16px;
}
footer .footer_bar .btn-box button {
    padding: 14px 24px ;
    margin-bottom: 16px;
    background-color: #000;
    color: #fff;
}
footer .footer_bar .btn-box .op {
    opacity: 0.3;
}
footer .footer_bar .btn-box .op:hover {
    color: #000;
    background-color: #cccccc;
}
footer .footer_bar .btn-box .bl:hover {
    color: #3a3a3a;
    background-color: #bdbdbd;
}
footer .footer_bar .footer_text {
    color: #fff;
    
}
footer .footer_bar .footer_text .a_border {
    text-decoration: underline;
}

@media screen and (max-width: 993px) {
    .Wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid_1 {
        float: left;
        width: 100%;
    }
    .grid_2 {
        float: left;
        width: 100%;
    }
}